html {
/*   font-family: 'Quicksand', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

/* -------------------Log in page------------------- */

.loginpage {
  --color-primary: #000000;
  --color-primary-dark: #000000;
  --color-secondary: #000000;
  --color-error: red;
  --color-success: #50C878;
  --border-radius: 30px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: white;
  background-image: url("https://cdn.discordapp.com/attachments/958618969336594442/965272988817711114/unknown.png" );
}

.container {
  width: 1080px;
  max-width: 1080px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: white;
  
}

.container, .form_input, .form_button {
  font: 500 1rem 'Quicksand', sans-serif; 
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form_title {
  margin-bottom: 2rem;
  text-align: center;
}

.form_message {
  text-align: center;
  margin-bottom: 1rem;
}

.form_message-success {
  color: var(--color-success);
}

.form_message-error {
  color: var(--color-error);
}

.form_input-group {
  margin-bottom: 1rem;
}

.form_input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form_input-error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form_input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form_button {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background:#ffd13f;
  border: 1px solid #000000;
  border-radius: var(--border-radius);
  outline: #000000;
  cursor: pointer;
}

.form_button:active {
  transform: scale(0.98);
}

.form_link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form_link:hover {
  text-decoration: underline;
}


/* --------------------Sidebar Menu-------------------- */

/* Fixed Sidebar */
.sidenav {
  height: 82.5%;
  width: 160px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #ffd13f;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: black;
  background: #ffcc00;
}

/* ----------------Fixed Top Menu------------------ */

.navbar {
  overflow: hidden;
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
}

.main {
  margin-top: 30px;
  margin-left: 170px;
}


/* -------------------Course Details------------------- */

.registerButton {
  width: 15%;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  background:#ffd13f;
  border: 1px solid #000000;
  outline: #000000;
  cursor: pointer;
}

.registerButton:active {
  transform: scale(0.98);
}

/* -------------------CourseRegisterStudent------------------- */
.searchfield {
  display: block;
  width: 30%;
  padding: 0.75rem;
  box-sizing: border-box;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 1rem;
}

.searchButton {
  width: 10%;
  padding: 0.5%;
  font-size: 0.75rem;
  background:#ffd13f;
  border: 1px solid #000000;
  outline: #000000;
}

.subbutton {
  width: 20%;
  height: 15%;
  float: left;
  margin: 10px;
}

#coursecode {
  text-align: center;
  font-size: 1rem;
  color: #fff;
}

.coursename {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}

#regisbut {
  font-size: 0.75rem;
  width: 40%;
  left: 50%;
}


/* ----------------------MyCourseStudent---------------------- */

section {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0px 0;
}
.card{
  position: relative;
  float:left;
  display:block;
  hight:auto;
  max-width: 300px;
  background: linear-gradient(-45deg,#fe0847,#feae3f);
  border-radius: 15px;
  margin: 0 auto 20px 10px ;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}
.card1{
  position: relative;
  float:left;
  display:block;
  hight:auto;
  width:200px;
  max-width: 200px;
  background: linear-gradient(-45deg,#fe0847,#feae3f);
  border-radius: 15px;
  margin: 0 auto 20px 20px ;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  -webkit-transition: .5s;
  transition: .5s;
}
.card1 button{
  position: absolute;
  background: #fff;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  line-height: 20px;
  margin: 10px ;
}
p.q{
  text-align:right;
}
.card1:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card1 ,
.col-sm-4:nth-child(1) .card1 .title .fa{
  background: linear-gradient(-45deg,#f403d1,#64b5f6);

}
.col-sm-4:nth-child(2) .card1,
.col-sm-4:nth-child(2) .card1 .title .fa{
  background: linear-gradient(-45deg,#ffec61,#f321d7);

}
.col-sm-4:nth-child(3) .card1,
.col-sm-4:nth-child(3) .card1 .title .fa{
  background: linear-gradient(-45deg,#24ff72,#9a4eff);

}
.name h4 {
  margin: 0;
  padding: 15px 0 ;
  color: #fff;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}
.code h2{
  position: relative;
  margin:0;
  color: #fff;
  font-size: 18px;
  
}


.name1 h4 {
  margin: 0;
  padding: 20px 0 ;
  color: #fff;
  font-size: 45px;
}

.card button {    
  position: absolute;
  z-index: 2;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: auto auto 80px ;
  
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

.card1 button:hover{
  text-decoration: none;
}

.container_Mycourse{
  padding:50px;
}

#section1, #section2, #section3 {
  cursor: pointer;
}

/* ----------Password Recovery---------- */
.error p {
	color: #FF0000;
	font-size: 20px;
	font-weight: bold;
	margin: 50px;
	}

/* ----------------Popup---------------- */

/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

.clickRegist, .popup_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.clickRegist {
  background: #2981bc;
  color: white;
  font-size: 22px;
  font-family: arial;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #0059b3;
}

.popup_box {
  width: 400px;
  background: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 40px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  z-index: 9999;
  display: none;
}

.popup_box i {
  font-size: 60px;
  color: #eb9447;
  border: 5px solid #eb9447;
  padding: 20px 40px;
  border-radius: 50%;
  margin: -10px 0 20px 0;
}

.popup_box h1 {
  font-size: 30px;
  color: #1b2631;
  margin-bottom: 5px;
}

.popup_box label {
  font-size: 23px;
  color: #404040;
}

.popup_box .btns {
  margin: 40px 0 0 0;
}

.btns .btn1, .btns .btn2 {
  background: #999999;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #808080;
  padding: 10px 13px;
}

.btns .btn2 {
  margin-left: 20px;
  background: #ff3333;
  border: 1px solid #cc0000;
}

.btns .btn1:hover {
  transition: .5s;
  background: #8c8c8c;
}

.btns .btn2:hover {
  transition: .5s;
  background: #e60000;
} */

#clearButton:active {
  display: none;
             
}