html {
  font-family: 'Quicksand', sans-serif;
}

/* -------------------Log in page------------------- */

.loginpage {
  --color-primary: #000000;
  --color-primary-dark: #000000;
  --color-secondary: #000000;
  --color-error: red;
  --color-success: #50C878;
  --border-radius: 30px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: white;
}

.container {
  width: 1080px;
  max-width: 1080px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: white;
  
}

.container, .form_input, .form_button {
  font: 500 1rem 'Quicksand', sans-serif; 
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form_title {
  margin-bottom: 2rem;
  text-align: center;
}

.form_message {
  text-align: center;
  margin-bottom: 1rem;
}

.form_message-success {
  color: var(--color-success);
}

.form_message-error {
  color: var(--color-error);
}

.form_input-group {
  margin-bottom: 1rem;
}

.form_input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form_input-error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form_input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form_button {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  background:#ffd13f;
  border: 1px solid #000000;
  border-radius: var(--border-radius);
  outline: #000000;
  cursor: pointer;
}

.form_button:active {
  transform: scale(0.98);
}

.form_link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.form_link:hover {
  text-decoration: underline;
}


/* --------------------Sidebar Menu-------------------- */

/* Fixed Sidebar */
.sidenav {
  height: 82.5%;
  width: 160px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #ffd13f;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: black;
  background: #ffcc00;
}

/* ----------------Fixed Top Menu------------------ */

.navbar {
  overflow: hidden;
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15%;
}

.main {
  margin-top: 30px;
  margin-left: 170px;
}


/* -------------------Course Details------------------- */

.registerButton {
  width: 15%;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  background:#ffd13f;
  border: 1px solid #000000;
  outline: #000000;
  cursor: pointer;
}

.registerButton:active {
  transform: scale(0.98);
}

/* -------------------CourseRegisterStudent------------------- */
.searchfield {
  display: block;
  width: 30%;
  padding: 0.75rem;
  box-sizing: border-box;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
  font-size: 1rem;
}

.searchButton {
  width: 10%;
  padding: 0.5%;
  font-size: 0.75rem;
  background:#ffd13f;
  border: 1px solid #000000;
  outline: #000000;
}

#button100 {
  width: 150px;
  height: 150px;
  padding: 1%;
  font-size: 1rem;
}

#button102 {
  width: 150px;
  height: 150px;
  padding: 1%;
  font-size: 1rem;
}

#button109 {
  width: 150px;
  height: 150px;
  padding: 1%;
  font-size: 1rem; 
}

#button107 {
  width: 150px;
  height: 150px;
  padding: 1%;
  font-size: 1rem;
}

#button104 {
  width: 150px;
  height: 150px;
  padding: 1%;
  font-size: 1rem;
}

#button111 {
  width: 150px;
  height: 150px;
  padding: 1%;
  font-size: 1rem;
}

#button210 {
  width: 150px;
  height: 150px;
  padding: 1%;
  font-size: 1rem;
}

/* ----------------------MyCourseStudent---------------------- */

section {
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 80px 0;
}
.card{
  position: relative;
  
  hight:100px;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#fe0847,#feae3f);
  border-radius: 15px;
  margin: 0 auto ;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}
.card:hover{
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card ,
.col-sm-4:nth-child(1) .card .title .fa{
  background: linear-gradient(-45deg,#f403d1,#64b5f6);

}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa{
  background: linear-gradient(-45deg,#ffec61,#f321d7);

}
.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa{
  background: linear-gradient(-45deg,#24ff72,#9a4eff);

}

.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
 z-index: 2;
}

.name h4 {
margin: 0;
padding: 20px 0 ;
color: #fff;
font-size: 45px;
}

.card button {    
  position: absolute;
  z-index: 2;
  background: #fff;
  color: black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: auto auto 80px ;
  
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

.card button:hover{
    text-decoration: none;
}

.container_Mycourse{
  padding:50px;
}

#section1, #section2, #section3 {
  cursor: pointer;
}

/* ----------Password Recovery---------- */
.error p {
	color: #FF0000;
	font-size: 20px;
	font-weight: bold;
	margin: 50px;
	}